In [33]:
import os 
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import nltk
from nltk.stem.porter import *

from sklearn.feature_extraction.text import CountVectorizer


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score

In [34]:
data=pd.read_csv('emails.csv',encoding = "ISO-8859-1")

In [35]:
data

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
5     Subject: great nnews  hello , welcome to medzo...     1
6     Subject: here ' s a hot play in motion  homela...     1
7     Subject: save your money buy getting this thin...     1
8     Subject: undeliverable : home based business f...     1
9     Subject: save your money buy getting this thin...     1
10    Subject: las vegas high rise boom  las vegas i...     1
11    Subject: save your money buy getting this thin...     1
12    Subject: brighten those teeth  get your  teeth...     1
13    Subject: wall street phenomenon reaps rewards ...     1
14    Subject: fpa notice : ebay misrepresentation o...     1
15    Subject: search engine position  be the very f...     1
16    Subject: only our software is guaranteed 100 %...     1
17    Subject: localized software , all languages av...     1
18    Subject: security alert - confirm your nationa...     1
19    Subject: 21 st century web specialists jrgbm  ...     1
20    Subject: any med for your girl to be happy !  ...     1
21    Subject: re : wearable electronics  hi my name...     1
22    Subject: top - level logo and business identit...     1
23    Subject: your trusted source for prescription ...     1
24    Subject: rely on us for your online prescripti...     1
25    Subject: guzzle like a fountain  spur m rocks ...     1
26    Subject: are you losing ? the answer would ama...     1
27    Subject: hi  how to save o improper n your med...     1
28    Subject: 25 mg did thhe trick  ho receivable w...     1
29    Subject: save your money buy getting this thin...     1
...                                                 ...   ...
5698  Subject: schedule and more . .  dr . kaminski ...     0
5699  Subject: re : message from ken rice  vince :  ...     0
5700  Subject: re : exploration data as the root of ...     0
5701  Subject: rendez - vous reporter : sunday 3 rd ...     0
5702  Subject: dr . michelle foss - energy institute...     0
5703  Subject: rice / enron finance seminar series  ...     0
5704  Subject: storage model security  stinson ,  i ...     0
5705  Subject: re : meeting w kevin hannon  vince an...     0
5706  Subject: e - mail and voicemail retention poli...     0
5707  Subject: approval is overdue : access request ...     0
5708  Subject: re : hi vince  hi jeff ,  no problem ...     0
5709  Subject: agenda for larry thorne ' s presentat...     0
5710  Subject: raptors  here is the most recent vers...     0
5711  Subject: re : faculty lunch  alison ,  i recom...     0
5712  Subject: 2 - survey / information email 5 - 7 ...     0
5713  Subject: promotion  vince , i want to congratu...     0
5714  Subject: re : petronas benchmarking visit  fyi...     0
5715  Subject: request submitted : access request fo...     0
5716  Subject: * special notification * aurora versi...     0
5717  Subject: fwd : update  return - path :  receiv...     0
5718  Subject: altos na gas model  kim , i know you ...     0
5719  Subject: power market research  i came across ...     0
5720  Subject: re : visit to houston  fyi  - - - - -...     0
5721  Subject: ees risk management presentations for...     0
5722  Subject: re : vacation  vince :  i just found ...     0
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [36]:
def remove_pattern(input_text,pattern):
  r = re.findall(pattern,input_text)
  for i in r:
    input_text=re.sub(i,'',input_text)
    
  return input_text

In [38]:
data['tidy']=np.vectorize(remove_pattern)(data['text'],',[\w]*')
data['tidy']=data['tidy'].str.replace('[^a-zA-z]'," ")
data['tidy']=data['tidy'].apply(lambda x:' '.join([w for w in x.split() if len(w)>2]))

In [39]:
data.head()

,text,spam,tidy
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny mer...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy wanti...
3,Subject: 4 color printing special request add...,1,Subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,Subject not have money get software cds from h...

In [40]:
tokenized_review=data['tidy'].apply(lambda x:x.split())
tokenized_review.head()

0    [Subject, naturally, irresistible, your, corpo...
1    [Subject, the, stock, trading, gunslinger, fan...
2    [Subject, unbelievable, new, homes, made, easy...
3    [Subject, color, printing, special, request, a...
4    [Subject, not, have, money, get, software, cds...
Name: tidy, dtype: object

In [41]:
stemmer=PorterStemmer()

In [42]:
tokenized_review=tokenized_review.apply(lambda x:[stemmer.stem(i) for i in x])

In [43]:
tokenized_review.head()

0    [subject, natur, irresist, your, corpor, ident...
1    [subject, the, stock, trade, gunsling, fanni, ...
2    [subject, unbeliev, new, home, made, easi, wan...
3    [subject, color, print, special, request, addi...
4    [subject, not, have, money, get, softwar, cd, ...
Name: tidy, dtype: object

In [44]:

for i in range(len(tokenized_review)):
    tokenized_review[i]=' '.join(tokenized_review[i])

data['tidy']=tokenized_review

In [45]:
data.head()

,text,spam,tidy
0,Subject: naturally irresistible your corporate...,1,subject natur irresist your corpor ident reall...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trade gunsling fanni merril ...
2,Subject: unbelievable new homes made easy im ...,1,subject unbeliev new home made easi want show ...
3,Subject: 4 color printing special request add...,1,subject color print special request addit info...
4,"Subject: do not have money , get software cds ...",1,subject not have money get softwar cd from her...

In [46]:
all_words=' '.join([word for word in data['tidy']])

In [47]:
all_words_list=all_words.split(' ')

In [48]:
all_word_frame=pd.DataFrame(all_words_list)

In [49]:
X=all_word_frame[0].value_counts()

In [50]:

X

the               50110
and               27480
you               19154
for               16696
enron             13388
ect               11427
subject           10202
thi               10031
your               9399
that               9296
with               8855
vinc               8532
will               8252
have               7859
from               6746
are                6521
hou                5577
com                5444
pleas              5113
kaminski           4801
not                4576
would              4426
our                4359
can                4257
thank              3730
forward            3161
time               3145
all                2929
ani                2822
research           2820
                  ...
lundquist             1
spradley              1
verifictaion          1
furthest              1
cfarrel               1
humphri               1
polder                1
bergbau               1
podjac                1
aix                   1
zofia                 1
boda                  1
chubb                 1
pyaemia               1
pillciali             1
breakfre              1
flammabl              1
almelo                1
youour                1
billot                1
nsze                  1
euphon                1
visamastercard        1
cmx                   1
ibidem                1
sigin                 1
parter                1
regal                 1
sabo                  1
sanitari              1
Name: 0, Length: 25348, dtype: int64

In [51]:

df2 = pd.DataFrame(np.array(all_words.split(' ')).reshape(-1, 1), columns=['words'])

In [52]:
unique_words = list(df2['words'].str.split(' ', expand=True).stack().unique())

In [53]:
len(unique_words)

25348

In [54]:
word_counts = list(df2['words'].value_counts())

In [55]:

df4 = pd.DataFrame(np.hstack((np.array(unique_words).reshape(-1,1),np.array(word_counts).reshape(-1,1))), columns=['words','word_count'])

In [56]:
df4_new=df4[df4['word_count'].map(len)==1]

In [57]:
df4_words_list = list(df4_new['words'])

In [58]:
unique_words=list(unique_words)

In [59]:
for word in df4_words_list:
    unique_words.remove(word)

In [60]:
len(unique_words)

5480

In [61]:
type(unique_words)

list

In [62]:
df4_new.head()

          words word_count
5480      benno          9
5481      witti          9
5482     siyvia          9
5483  afterward          9
5484      laugh          9

In [63]:
new_data=data

In [64]:
new_data.head()

,text,spam,tidy
0,Subject: naturally irresistible your corporate...,1,subject natur irresist your corpor ident reall...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trade gunsling fanni merril ...
2,Subject: unbelievable new homes made easy im ...,1,subject unbeliev new home made easi want show ...
3,Subject: 4 color printing special request add...,1,subject color print special request addit info...
4,"Subject: do not have money , get software cds ...",1,subject not have money get softwar cd from her...

In [65]:
tokenized_tidy=new_data['tidy'].apply(lambda x:x.split())
tokenized_tidy.head()

0    [subject, natur, irresist, your, corpor, ident...
1    [subject, the, stock, trade, gunsling, fanni, ...
2    [subject, unbeliev, new, home, made, easi, wan...
3    [subject, color, print, special, request, addi...
4    [subject, not, have, money, get, softwar, cd, ...
Name: tidy, dtype: object

In [66]:
for i in tokenized_tidy:
    for j in i:
        if j not in unique_words:
            i.remove(j)

In [67]:
len(tokenized_tidy)

5728

In [68]:
for i in range(len(tokenized_tidy)):
    tokenized_tidy[i]=' '.join(tokenized_tidy[i])

new_data['new_tidy']=tokenized_tidy

In [69]:
new_data.head()

,text,spam,tidy,new_tidy
0,Subject: naturally irresistible your corporate...,1,subject natur irresist your corpor ident reall...,subject natur irresist your corpor ident reall...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trade gunsling fanni merril ...,subject the stock trade gunsling fanni merril ...
2,Subject: unbelievable new homes made easy im ...,1,subject unbeliev new home made easi want show ...,subject unbeliev new home made easi want show ...
3,Subject: 4 color printing special request add...,1,subject color print special request addit info...,subject color print special request addit info...
4,"Subject: do not have money , get software cds ...",1,subject not have money get softwar cd from her...,subject not have money get softwar cd from her...

In [70]:
rev_vectorizer=CountVectorizer(stop_words='english',max_features=20000,ngram_range=(1,3))
rev= rev_vectorizer.fit_transform(new_data['new_tidy'])

In [71]:
train_rev=rev

xtrain_rev,xvalid_rev,ytrain,yvalid=train_test_split(train_rev,new_data['spam'],test_size=0.2)

In [72]:
lreg=LogisticRegression()
lreg.fit(xtrain_rev,ytrain)

prediction = lreg.predict_proba(xvalid_rev) # predicting on the validation set
prediction_int = prediction[:,1] >= 0.5 # if prediction is greater than or equal to 0.3 than 1 else 0
prediction_int = prediction_int.astype(np.int)

In [73]:
f1_score(yvalid, prediction_int)

0.97879858657243823

In [74]:
lreg.fit(xtrain_rev,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [75]:
y_pred=lreg.predict(xvalid_rev)

In [76]:
print(accuracy_score(yvalid,y_pred))

0.989528795812